* {
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    /* outline: 2px solid ; */
   
}/* basic styling*/
body,html{
    background-image: linear-gradient(to right,#40404d,black);
    height:100%;
    margin:5px;
}
.image{
    width:100%; 
    height: auto;
    max-width: 700px;
    padding:5px;
    outline:4px inset #40404d;
    border-radius: 5px;
    margin: 5px auto auto;
}
.imagediv{
    text-align: center;
    width:100%; 
}

.head{
    padding: 5px;
    margin: 10px;
    
}

.title{
    box-sizing: border-box;
    width:fit-content;
    height:100;
    font-size: 40px;
    padding: 10px;
    margin: 15px auto;
    text-align: center;
    border-radius: 5px;
    outline: 5px rgb(64, 64, 77);
    outline-style: inset;
    
}

.greeting{
    
    margin: 10px auto 10px;
    height:auto;
    width:auto;
    font-size: larger;
    padding: 0px;
    max-width:700px;
}



a{
    
    font-size: 18px ;
}
.indexpage{
    display: table;
    margin: 10px auto 10px 0px;
    
}
.links{
    display: table;
    margin: 10px auto;
}
.stepslist{
    width: auto;
    max-width: 700px;
    padding:0px;
    margin: -5px auto;
    font-size: larger;
}

